<div class="conteiner">
  <h3 class="col-md-3 offset-3">
    商品詳細
  </h3>
  <div class="container">
    <div class="col-md-6 offset-4">
      <table>
        <tbody>
          <tr>
            <td>
                <% if @item.image.attached? %>
                  <%= image_tag @item.image, size: "200x170" %>
                <% else %>
                  <%= image_tag 'no_image', size: "200x170" %>
                <% end %>
            </td>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td></td>
            <td>商品説明</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td></td>
            <td>税込み価格<br/>
            （税込み価格）
            </td>
            <td><%= @item.price %></td>
            <td><%=%></td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to "編集する", edit_admin_item_path(@item.id) %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>