<div class="conteiner">
  <h3 class="col-md-3 offset-3">
    註文履歴一覧
  </h3>
  <div class="col-md-9 offset-4">
    <table>
      <thead>
        <tr>
          <th>購入日時</th>
          <th></th>
          <th>購入者</th>
          <th></th>
          <th>注文個数</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to admin_customer_path(customer.id) do %>
            <%= order.created_at %>
            <% end %>
          </td>
          <td></td>
          <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
          <td></td>
          <td><%= order.order_item.amount %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    </div>
  </div>
</div>