<div class="conteiner">
  <h3 class="col-md-3 offset-3">
    会員一覧
  </h3>
  <div class="col-md-9 offset-4">
    <table>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= custmer.id %></td>
          <td><%= customer.last_name %><%= cusutomer.first_name %></td>
          <td><%= customer.email %></td>
          <td>¥<%= cart_item.subtotal %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    </div>
  </div>
</div>