<div class="conteiner">
  <div class="col-md-3 offset-3">
    注文情報入力
  </div>
  <div class="col-md-6 offset-2">
    <%= form_with model: order do |f| %>
    <%= f.radio_button :method_of_payment, Order.payment_methods.key(0) %>
    <%= f.label :method_of_payment_credit_card, Order.payment_methods_i18n[:credit_card] %>
    
    <%= f.radio_button :method_of_payment, Order.payment_methods.key(1) %>
    <%= f.label :method_of_payment_transfer, Order.payment_methods_i18n[:transfer]%>
    <%= f.select :customer_id, options_from_collection_for_select(method_of_payment.all, :id, :name) %>
    <% end %>
  </div>
</div>